/node_modules
/public/hot
/public/storage
/public/photos
/public/build
/storage/*.key
/vendor
.env
.env.testing
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.lock
package-lock.json
/lang
/storage
/resources/fontawesome-free-6.2.0-web
