/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    html {
        overflow-y: hidden;
    }
    body {
        padding-top: 3.5rem;
        padding-bottom: 3rem;
        overflow-y: hidden;
        color: #5a5a5a;
    }

    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

@media (max-width: 512px) {
    html {
        height: 100%;
    }
    body {
        padding-top: 0rem;
        padding-bottom: 0rem;
        color: #5a5a5a;
        min-height: 100%;
    }

    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}

.top-guide {
    padding-top: 24px;
}
