#section_reply .card {
    background-color: #fff;
    border: none
}

#section_reply .form-color {
    background-color: #fafafa
}

#section_reply .form-control {
    height: 48px;
    border-radius: 5px
}

#section_reply .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #35b69f;
    outline: 0;
    box-shadow: none;
    text-indent: 10px
}

#section_reply .c-badge {
    background-color: #35b69f;
    color: white;
    height: 20px;
    font-size: 11px;
    width: 92px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px
}

#section_reply .comment-text {
    font-size: 13px
}

#section_reply .wish {
    color: #35b69f
}

#section_reply .user-feed {
    font-size: 14px;
    margin-top: 12px
}

#section_reply .inline-items img, span, small, input {
    display: inline-block;
}

.img-reply {
    width: 50px;
    height: 50px;
    text-align: center;
}

.reply-btn {
    height: 48px;
}

#cont_extra_comment div.mt-2{
    background-color: #eeeeee;
}

.comment-off, .progress-off {
    display:none;
}

.wrap-comment {
    position: relative;
}
